{
    "file_pattern": "null",
    "custom_file_pattern": "OmooLab_$TYPENAME",
    "branch_idx": 0,
    "branches": [
        "dev",
        "beta",
        "test",
        "main"
    ],
    "enable_branch": false,
    "enable_branch_display": true,
    "enable_user": true,
    "enable_versioning": true,
    "library_dir": "$JOB/Contents/HDAs",
    "library_dir_idx": 4,
    "library_file": "OmooLab_`$HDATYPENAME`.hda",
    "library_file_category_prefix": false,
    "library_file_idx": 3,
    "tablabel_idx": 1,
    "tabmenu_entry": "(OmooLab)/",
    "user_idx": 1,
    "users": [
        "YourName",
        "OmooLab"
    ]
}